* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

body{
    font-family:Arial, sans-serif;
    background:#eef6f7;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

header{
    background:#3b728f;
    padding:15px 40px;
    text-align:center;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.titulo{
    color:white;
    cursor: default;
    align-items: center;
    transition: all 0.4s ease;
}

.titulo:hover{
    color:#90e0ef;
    transform: scale(1.2);
    text-shadow: 0 0 10px #73bce2;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}
.XD{
    color:white;
    font-size: 24px;
    transition: all 0.4s ease;
}

.menu{
    list-style:none;
    display:flex;
    cursor: default;
    gap:20px;
    transition: all 0.4s ease;
    font-weight: bolder;
}

.menu:hover{
    color:#90e0ef;
    transform: scale(1.2);
    text-shadow: 0 0 10px #74bce2;
}

.menu li{
    position:relative;
}

.menu a{
    color:white;
    text-decoration:none;
    font-size:17px;
    padding:10px;
    display:block;
    transition:0.3s;
}

.menu a:hover{
    color:#90e0ef;
}

.sub{
    position:absolute;
    top:40px;
    left:-50%;
    background:white;
    min-width:200px;
    border-radius:8px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    opacity:0;
    visibility:hidden;
    transform:translateY(-10px);
    transition:0.3s;
}

.sub li{
    width:100%;
}

.sub a{
    color:#003049;
    padding:12px;
}

.sub a:hover{
    background:#caf0f8;
}

.dropdown:hover .sub{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
}

main{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px;
}

.co{
    background:white;
    max-width:900px;
    padding:40px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
    cursor: default;
    text-align:center;
}

.co h1{
    color:#003049;
    margin-bottom:20px;
}

.co p{
    margin-bottom:20px;
    line-height:1.8;
    color:#333;
}

.rojito{
    background:#ffe5e5;
    border-left:8px solid#347396;
    padding:20px;
    border-radius:10px;
}

.rojito h2{
    color: #2d6c8f;
    margin-bottom:15px;
}


footer{
    background:#003049;
    text-align:center;
    padding:25px;
}

.foot{
    font-size:28px;
    font-weight:bold;
    padding:10px 20px 30px;
    background:linear-gradient(to right, #28b8d4, #90e0ef, #f1c5c5);
}

.imagen{
    display:block;
    margin:20px auto;
    border-radius:10px;
    border: 2px solid #347396;
}

.centroa{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px;
}

.sube{
    margin-top:20px;
    width:120px;
}

.nombe{
    display: flex;
    padding: 2px 5px 3px;
    gap: 10px;
    
}

.dropdown{
    position: relative;
}

.repe{
    display: flex;
    right:3.7%;
    position: relative;
    gap: 15px;
}

.soli{
    font-size: 25px;
    text-decoration: underline;
    bottom:-20%;
    position: relative;
}

.difuminado{
    color: #333;
    opacity: 0.6;
    font-size: 14px;
    top:10%;
    position: relative;
}

.nada{
    background:#3b728f;
    margin-top: 10px;
    text-align:center;
}
.ordenar{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.envio_correo{
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
}

#btnBajar{
    padding: 10px 22px;
    border: 2px solid transparent;
    border-radius: 30px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(
            90deg,
            red,
            orange,
            yellow,
            lime,
            cyan,
            blue,
            violet,
            red
        ) border-box;
    background-size: 100% 100%, 300% 100%;
    animation: arcoiris 4s linear infinite;
    color: #3b728f;
    font-weight: bold;
    cursor: pointer;
    transition: transform .3s;
}

#btnBajar:hover{
    transform: scale(1.05);
}

@keyframes arcoiris{
    0%{
        background-position: 0 0, 0% 50%;
    }
    100%{
        background-position: 0 0, 300% 50%;
    }
}
